@using WoWArmoryStore.Helpers;
@{
    ViewData["Title"] = "AllianceRaces";
}
<h1>AllianceRaces</h1>

<div class="row">
    <div class="col-md-4">
        <form method="get">
            <img src="@WoWArmoryStore.Helpers.GlobalConstants.HumanPicture.ToString()" width="200" height="200" class="rounded float-right" alt="...">

            <img src="@WoWArmoryStore.Helpers.GlobalConstants.DwarfPicture.ToString()" width="200" height="200" class="rounded float-right" alt="...">

            <img src="@WoWArmoryStore.Helpers.GlobalConstants.NightElfPicture.ToString()" width="200" height="200" class="rounded float-right" alt="...">

            <img src="@WoWArmoryStore.Helpers.GlobalConstants.GnomePicture.ToString()" width="200" height="200" class="rounded float-right" alt="...">

            <img src="@WoWArmoryStore.Helpers.GlobalConstants.PandarenPicture.ToString()" width="200" height="200" class="rounded float-right" alt="...">
        </form>

    </div>
</div>



